In [1]:
import pandas as pd

In [2]:
data = {'name':['kuldeep','shreenath','henna'],
        'age':[21,22,23],
        'c':[1,2,3]}

In [3]:
data

{'name': ['kuldeep', 'shreenath', 'henna'],
 'age': [21, 22, 23],
 'c': [1, 2, 3]}

In [4]:
df1 = pd.DataFrame(data)

In [5]:
df1

        name  age  c
0    kuldeep   21  1
1  shreenath   22  2
2      henna   23  3

In [6]:
#if we want to change index like it is 0123 , we have to do a,b,c,d

In [7]:
df1 = pd.DataFrame(data,index = ['a','b','c'])

In [8]:
df1

        name  age  c
a    kuldeep   21  1
b  shreenath   22  2
c      henna   23  3

In [9]:
df1.reindex(['c','a','b'])

        name  age  c
c      henna   23  3
a    kuldeep   21  1
b  shreenath   22  2

In [10]:
# if we want to ittrate it 
for i in df1.iterrows():
    print(i)

('a', name    kuldeep
age          21
c             1
Name: a, dtype: object)
('b', name    shreenath
age            22
c               2
Name: b, dtype: object)
('c', name    henna
age        23
c           3
Name: c, dtype: object)

In [11]:
df1['a']

KeyError: 'a'

In [14]:
[i for i in df1["a"]]

KeyError: 'a'

In [16]:
# If we want to do concatination
def test(x):
    return x.sum()
df1.apply(test)

name    kuldeepshreenathhenna
age                        66
c                           6
dtype: object

In [18]:
#if we want to multiply
df2 = df1[['a','b']]

KeyError: "None of [Index(['a', 'b'], dtype='object')] are in the [columns]"

In [19]:
df1

        name  age  c
a    kuldeep   21  1
b  shreenath   22  2
c      henna   23  3

In [20]:
#if we want to short it
df1.sort_values('c')

        name  age  c
a    kuldeep   21  1
b  shreenath   22  2
c      henna   23  3

In [21]:
#if we want to short indexes
df1.sort_index()

        name  age  c
a    kuldeep   21  1
b  shreenath   22  2
c      henna   23  3

In [24]:
#if we want to short it indecending order
df1.sort_index(ascending = False)

        name  age  c
c      henna   23  3
b  shreenath   22  2
a    kuldeep   21  1

In [27]:
df3 = pd.DataFrame({'data1':["Course Duration: 14h 22m 51s Get started on your journey into a business analytics of data science career with the most important and basic tools any data professional should know - SQL and Excel.What you'll learExceSQLPerforming Operations on Large DataCourse FeaturesIn Depth Coverage by Industry VeteransFree Class NotesFree Assignments and MCQs "]})

In [28]:
df3

                                               data1
0  Course Duration: 14h 22m 51s Get started on yo...

In [35]:
pd.set_option("display.max_colwidth",500)
df3 = pd.DataFrame({'data1':["Course Duration: 14h 22m 51s Get started on your journey into a business analytics of data science career with the most important and basic tools any data professional should know - SQL and Excel.What you'll learExceSQLPerforming Operations on Large DataCourse FeaturesIn Depth Coverage by Industry VeteransFree Class NotesFree Assignments my name is kd"]})

In [36]:
df3

                                                                                                                                                                                                                                                                                                                                                               data1
0  Course Duration: 14h 22m 51s Get started on your journey into a business analytics of data science career with the most important and basic tools any data professional should know - SQL and Excel.What you'll learExceSQLPerforming Operations on Large DataCourse FeaturesIn Depth Coverage by Industry VeteransFree Class NotesFree Assignments my name is kd