Centeral tendency

In [25]:
#Mean(average)
age = [1,2,3,9,3,6,7,8,1]

In [26]:
import numpy as np
np.mean(age)

4.444444444444445

In [27]:
wt = [60,65,70,62,65,69,80]

In [28]:
np.mean(wt)

67.28571428571429

In [29]:
import seaborn as sns

In [30]:
df = sns.load_dataset('tips')

In [31]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [32]:
np.mean(df['total_bill'])

19.78594262295082

In [33]:
#Median

In [34]:
np.median(age)

3.0

In [38]:
age1 = [1,2,3,9,3,6,7,8,1,200]

In [39]:
np.mean(age1)

24.0

In [40]:
np.median(age1)

4.5

In [41]:
#mpde

In [43]:
from scipy import stats

In [44]:
stats.mode(age)

/tmp/ipykernel_208/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([1]), count=array([2]))

In [46]:
np.median(df['total_bill'])

17.795